@import "partial";

body {
    background-color: $bgColor;
}
ul{
    padding: 0;
}
li {
    list-style: none;
}
i{
    width: 2rem;
}
h2 {
    font-size: 1rem;
    font-weight: bold;
}
header{
    background-color: $bgColorHeader;
    color: white;
    line-height: 2em;
    margin-bottom: 2rem;
    a{
        color: white;
    }
    img {
        height: 1.3em;
        vertical-align: text-bottom;
    }
}
aside, main, footer{
    padding: 0.5rem;
    background-color: white;
    color: $light;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(#8c8c8c, 0.8);
}
@mixin round($diameter){
    width: $diameter;
    height: $diameter;
    border-radius: 50%;
    border: 2px white solid;
}

.round3{
    @include round(130px);
}
.round2{
    @include round(80px);
}

.round1{
    @include round(60px);
}
.round05{
    @include round(40px);
}

.maxScreen{
    max-width: 1300px;
    margin: auto;
}

img{
    max-width: 100%;
}

#user{
    position: relative;

    .round3{

    }


}
